.Stage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  @mixin quadro {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid var(--gtColor);
    border-radius: 8px;
  }

  .MenuLateral {
    @include quadro;
    width: 300px;

    .MenuItem {
      --space: 15px;
      display: flex;
      align-items: center;
      margin-top: var(--space);
      margin-bottom: var(--space);

      &:hover {
        text-decoration: underline;
        background-color: #fdffe8;
      }

      .imagem {
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
    }
  }

  .Content {
    @include quadro();
    width: 900px;
  }
}

.anotacao {
  font-size: 10px;
  background-color: #fee0f8;
  padding: 2px;
  display: inline-block;
  font-weight: bold;
  color: #d81651;
  border-radius: 5px;
}
