.Content {
  flex: 4;
}

.Menu {
  flex: 1;
  background-color: var(--menuColor);
  padding: 10px;
}

.Container {
  display: flex;
}

.Stage {
  padding: 20px;
}

.Titulo {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 25px;
  color: var(--textColor);
}

.RowContent {
  display: flex;
  flex-direction: row;

  .TabelaDeDados {
    font-size: 11pt;
    width: 100%;
    border-collapse: collapse;

    tbody tr:nth-child(even) {
      background-color: #dadada;
    }

    tbody tr:nth-child(odd) {
      background-color: #f2f2f2;
    }

    tbody tr:hover {
      background-color: var(--gtColor);
      color: white;
    }

    td {
      padding: 5px;
    }

    thead tr {
      background-color: var(--gtColor);
      color: white;
    }
  }

  .LinkBotao {
    background-color: var(--gtColor);
    color: white;
    padding: 5px;
  }
}
