.Content {
  flex: 4;
}

.Menu {
  flex: 1;
  background-color: var(--menuColor);
  padding: 10px;
}

.Container {
  display: flex;
}

.Stage {
  padding: 20px;
}

.Titulo {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 25px;
}

.TabelaDeDados {
  border: 1px solid;
  font-size: 10pt;
  width: 100%;

  td {
    padding: 3px;
  }

  thead tr {
    background-color: var(--gtColor);
    color: white;
  }
}
