.ContentRow {
  display: flex;
  flex-direction: row;
}
.Content {
  flex: 7;
}

.Menu {
  flex: 1;
  background-color: var(--menuColor);
  padding: 10px;
  width: 150px;
  height: calc(100vh - 60px);
}

.Stage {
  padding: 20px;
}

.Titulo {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  margin-bottom: 25px;
  color: var(--textColor);
}

.RowContent {
  display: flex;
  flex-direction: row;
}
.RowContent .TabelaDeDados {
  font-size: 11pt;
  width: 100%;
  border-collapse: collapse;
}
.RowContent .TabelaDeDados tbody tr:nth-child(even) {
  background-color: #dadada;
}
.RowContent .TabelaDeDados tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.RowContent .TabelaDeDados tbody tr:hover {
  background-color: var(--gtColor);
  color: white;
}
.RowContent .TabelaDeDados td {
  padding: 5px;
}
.RowContent .TabelaDeDados thead tr {
  background-color: var(--gtColor);
  color: white;
}
.RowContent .LinkBotao {
  background-color: var(--gtColor);
  color: white;
  padding: 5px;
}

.OpenStage :hover {
  font-weight: bold;
  color: yellow;
  text-decoration: underline;
}

.tabelabasica {
  border: 1px solid black;
  margin-top: 20px;
  width: 600px;
}
.tabelabasica tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.tabelabasica thead tr {
  background-color: #dadada;
}

.conteudorow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.conteudorow p,
.conteudorow h3 {
  margin-top: 15px;
}
.conteudorow .espaco1 {
  margin-right: 50px;
}
.conteudorow .espaco2 {
  display: flex;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  min-width: 400px;
}