.Container {
}

.ContentRow {
  display: flex;
  flex-direction: row;

  .Superior {
  }
}

.Content {
  flex: 7;
}

.Menu {
  flex: 1;
  background-color: var(--menuColor);
  padding: 10px;
  width: 150px;
  height: calc(100vh - 60px);
}

.Stage {
  padding: 20px;
}

.Titulo {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  margin-bottom: 25px;
  color: var(--textColor);
}

.RowContent {
  display: flex;
  flex-direction: row;

  .TabelaDeDados {
    font-size: 11pt;
    width: 100%;
    border-collapse: collapse;

    tbody tr:nth-child(even) {
      background-color: #dadada;
    }

    tbody tr:nth-child(odd) {
      background-color: #f2f2f2;
    }

    tbody tr:hover {
      background-color: var(--gtColor);
      color: white;
    }

    td {
      padding: 5px;
    }

    thead tr {
      background-color: var(--gtColor);
      color: white;
    }
  }

  .LinkBotao {
    background-color: var(--gtColor);
    color: white;
    padding: 5px;
  }
}

.OpenStage {
  :hover {
    font-weight: bold;
    color: yellow;
    text-decoration: underline;
  }
}

.tabelabasica {
  border: 1px solid black;
  margin-top: 20px;
  width: 600px;

  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  thead tr {
    background-color: #dadada;
  }
}

.conteudorow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  p,
  h3 {
    margin-top: 15px;
  }

  .espaco1 {
    margin-right: 50px;
  }
  .espaco2 {
    display: flex;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    min-width: 400px;
  }
}
