.ContentRow {
  display: flex;
  flex-direction: row;
}
.Content {
  flex: 7;
}

.Menu {
  flex: 1;
  background-color: var(--menuColor);
  padding: 10px;
  width: 150px;
  height: calc(100vh - 60px);
}

.Stage {
  padding: 20px;
}

.Titulo {
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
  margin-bottom: 25px;
  color: var(--textColor);
}

.RowContent {
  display: flex;
  flex-direction: row;
}
.RowContent .TabelaDeDados {
  font-size: 11pt;
  width: 100%;
  border-collapse: collapse;
}
.RowContent .TabelaDeDados tbody tr:nth-child(even) {
  background-color: #dadada;
}
.RowContent .TabelaDeDados tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.RowContent .TabelaDeDados tbody tr:hover {
  background-color: var(--gtColor);
  color: white;
}
.RowContent .TabelaDeDados td {
  padding: 5px;
}
.RowContent .TabelaDeDados thead tr {
  background-color: var(--gtColor);
  color: white;
}
.RowContent .LinkBotao {
  background-color: var(--gtColor);
  color: white;
  padding: 5px;
}

.OpenStage :hover {
  font-weight: bold;
  color: yellow;
  text-decoration: underline;
}