.MenuItem {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  border-bottom: 1px solid #bebebe;
}
.MenuItem :hover {
  background-color: var(--menuColorHover);
}
.MenuItem .LinkAtivo {
  background-color: var(--menuColorHover);
}
.MenuItem .MenuLink {
  padding: 15px;
  width: 100%;
}

.HeaderMenu {
  font-size: 14pt;
  font-weight: bold;
  border-bottom: 2px solid;
  margin-bottom: 10px;
}

.NaoImplementado {
  font-size: 13px;
  color: #acacac;
}