.MenuItem {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.MenuItem :hover {
  background-color: var(--menuColorHover);
}
.MenuItem .LinkAtivo {
  background-color: var(--menuColorHover);
}
.MenuItem .MenuLink {
  padding: 15px;
  width: 100%;
}

.HeaderMenu {
  font-size: 14pt;
  font-weight: bold;
  border-bottom: 2px solid;
  margin-bottom: 10px;
}